<h2>Últimos Agendamentos</h2>
<div class="users-menu">
  <a *ngFor="let user of users" routerLink="/agend/{{user.id}}">
    {{user.nome}} {{user.sobrenome}}
  </a>
</div>

<div id="search-component">
    <label for="search-box">Buscar Paciente</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let user of users$ | async" >
        <a routerLink="/agend/table/{{user.id}}">
          {{user.nome}}
        </a>
      </li>
    </ul>
  </div>

  <div class="card w-100 my-5">
    <div class="card-body">
      <h1 class="card-title text-center">Agendamentos do Paciente</h1>
      <button class="btn btn-success mb-4 float-end" routerLink="/form-agend">Novo Agendamento</button>
      <table class="table">
        <thead>
          <tr>
            <th>Prontuário</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Atendimento</th>
            <th>Departamento</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td> 
            <td>{{ user.nome }}</td>
            <td>{{ user.sobrenome }}</td>
            <td>{{ user.nome }}</td>
            <td>{{ user.nome }}</td>
            <td>{{ user.nome }}</td>
            <td>{{ user.nome }}</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/form-agend']">Editar</button>
            </td>
            <td>
              <button class="btn btn-danger" >Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
